<a href="https://colab.research.google.com/github/PSindhuLakshmiPriya/Python-daily-practice-codes/blob/main/Day_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Self and __init__() Method in python

We say variable as an attribute because it is associated with particular thing for ex name is associated with student_1. If we give only print name it shows error. so we need to give student_1.name to print

In [1]:
class StudentInfo:
  pass
student_1=StudentInfo()
student_1.name="Priya"
student_2.place="Polavaram"
print(name)

NameError: name 'student_2' is not defined

In [5]:
class StudentInfo:
  pass
student_1=StudentInfo()
student_1.name="Priya"
student_1.place="Polavaram"
print(student_1.name)
print(student_1.place)
student_2=StudentInfo()
student_2.name="Sindhu"
student_2.place="Gutala"
print(student_2.name)
print(student_2.place)

Priya
Polavaram
Sindhu
Gutala

__init__(self) is a predefined method.

we can say it is a special method with a special usecase.

in python it is used to initialize the object.

this init function would be called everytime you create a object

it is used to initialize attributes of that particular object

In [8]:
class StudentInfo:
  def __init__(self):
    print("Creating a new object")
student_1=StudentInfo()
student_1.name="Priya"
student_1.place="Polavaram"
print(student_1.name)
student_2=StudentInfo()
student_2.name="Sindhu"
student_2.place="Gutala"
print(student_2.name)

Creating a new object
Priya
Creating a new object
Sindhu

We use self keyword

it refers to the actual object

with self we can also parameters and while creating attributes we can take any name but parameters names shoould be same


here no need to take attributes for every object that is created rather we can pass parameters in created object and print them using self

In [9]:
class StudentInfo:
  def __init__(self,name,place):
    self.name=name
    self.place=place
student_1=StudentInfo("Priya","Polavaram")
print(student_1.name)

Priya

If we do not pass any parameter in the object it shows error

In [10]:
class StudentInfo:
  def __init__(self,name,place):
    self.name=name
    self.place=place
student_1=StudentInfo()
print(student_1.name)

TypeError: StudentInfo.__init__() missing 2 required positional arguments: 'name' and 'place'

suppose if we want to take a third parameter fee due and every object has value of 0 to that parameter .. it is a waste of time so directly we can set default attribute/value

In [14]:
class StudentInfo:
  def __init__(self,name,place):
    self.name=name
    self.place=place
    self.fee_due=0
student_1=StudentInfo("Priya","Polavaram")
print(student_1.name)
print(student_1.fee_due)

Priya
0

this means right now nobody is having fee due if we want to we can pass parameter and set value


just it is about how to set a default value for all objects attributes

Class Methods

In [15]:
class StudentInfo:
  followers=0 #class object variable
  def __init__(self,name,address):
    self.name=name
    self.address=address
student_1=StudentInfo("Priya","Polavaram")
print(student_1.name)
print(student_1.followers)
student_2=StudentInfo("Sindhu","Polavaram")

Priya
0

followers=0 for every object you create in that studentinfo class it will be associated with that default value

In [16]:
print(student_2.name)
print(student_2.followers)

Sindhu
0

In [19]:
class StudentInfo:
  followers=0 #class object variable
  def __init__(self,name,address):
    self.name=name
    self.address=address
  def display(self,subject_name):
    print(f"Hi, I am {self.name} and I teach {subject_name}")
student_1=StudentInfo("Priya","Polavaram")
print(student_1.name)
student_1.display("Python")

Priya
Hi, I am Priya and I teach Python

Remember every function has to return something if it does not return anything it shows None

so it is better call function without print


we can also pass parameter subject name along with self in display method

if we take self.subject_name it shows attribute error because self refers to the student1 object it does not contain subject_name that is why we get error

In [20]:
class StudentInfo:
  followers=0 #class object variable
  def __init__(self,name,address):
    self.name=name
    self.address=address
  def display(self,subject_name):
    print(f"Hi, I am {self.name} and I teach {self.subject_name}")
student_1=StudentInfo("Priya","Polavaram")
print(student_1.name)
student_1.display("Python")

Priya

AttributeError: 'StudentInfo' object has no attribute 'subject_name'

In [22]:
class StudentInfo:
  fee_due=0 #class object variable
  def __init__(self,name,address):
    self.name=name
    self.address=address
  def display(self,subject_name):
    print(f"Hi, I am {self.name} and I teach {subject_name}")
  def update_feedue(self,stuname):
    self.fee_due+=1000
student_1=StudentInfo("Priya","Polavaram")
print(student_1.name)
student_1.display("Python")
student_1.update_feedue("Priya")
print(student_1.fee_due)
student_2=StudentInfo("Sindhu","Polavaram")
student_2.display("Maths")
print(student_2.fee_due)

Priya
Hi, I am Priya and I teach Python
1000
Hi, I am Sindhu and I teach Maths
0