<a href="https://colab.research.google.com/github/PSindhuLakshmiPriya/Python-daily-practice-codes/blob/main/Day_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Comprehensions**


Square of numbers

In [ ]:
list=[2,3,4,5]
mylist=[]
for i in list:
  i=i*i
  mylist.append(i)
print(mylist)

[4, 9, 16, 25]

Even Numbers

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []
for num in numbers:
  if num%2==0:
    even_numbers.append(num)
print(even_numbers)

[2, 4, 6, 8, 10]

Length of words

In [ ]:
words = ['apple', 'banana', 'cherry', 'date']
for i in words:
  print("Length of",i,"is",len(i))

Length of apple is 5
Length of banana is 6
Length of cherry is 6
Length of date is 4

Vowels in a word

In [ ]:
string = 'hello world'
vowels=[]
for char in string:
  if char in 'aeiouAEIOU':
    vowels.append(char)
print(vowels)

['e', 'o', 'o']

Convert temperatures

In [ ]:
celsius = [0, 10, 20, 30, 40]
fahrenheit=[]
for i in celsius:
  i=(i*1.8)+32
  fahrenheit.append(i)
print(fahrenheit)
# Formula: (C * 9/5) + 32

[32.0, 50.0, 68.0, 86.0, 104.0]

Flatten a 2D list

In [ ]:
matrix = [[1, 2], [3, 4], [5, 6]]
flattened_list=[]
for item in matrix:
  for num in item:
    flattened_list.append(num)
print(flattened_list)

[1, 2, 3, 4, 5, 6]

Words starting with a letter

In [ ]:
words = ['ball', 'bat', 'apple', 'banana', 'cat']
for string in words:
  for char in string:
    if char[0]=='b':
      print(string)

ball
bat
banana

Remove spaces from a string

In [ ]:
sentence = "Python is awesome"
for i in sentence:
  if i==" ":
    sentence=sentence.replace(i,"")
print(sentence)

Pythonisawesome

Pairs of numbers

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
newlist=[]
for i in list1:
  for j in list2:
    a=tuple((i,j))
    newlist.append(a)
print(newlist)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

Rotate matrix by 90 degrees

In [1]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(matrix)):
  for j in range(i,len(matrix)):
    matrix[i][j],matrix[j][i]=matrix[j][i],matrix[i][j]
for i in range(len(matrix)):
  matrix[i].reverse()
print(matrix)

[[7, 4, 1], [8, 5, 2], [9, 6, 3]]

Longest Substring Without Repeating Characters

In [2]:
str="abcabcbb"
seen=""
for i in str:
  if i not in seen:
    seen+=i
print(seen)
print(len(seen))

abc
3

Longest Common Subsequence

In [3]:
str1="abcde"
str2="ace"
seen=""
for i in str1:
  if i in str2:
    seen+=i
print(seen)

ace

Binary Search

In [5]:
arr=[1,2,3,4,5,6,7,8,9,10]
target=6
low=0
high=arr[-1]
while low<=high:
  mid=(low+high)//2
  if arr[mid]==target:
    print("Element is found at",mid,"index")
    break

Element is found at 5 index