<a href="https://colab.research.google.com/github/PSindhuLakshmiPriya/Python-daily-practice-codes/blob/main/Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Replace Character

In [12]:
def replaceCharacter(str,ch1,ch2):
   temp=" "
   str=str.replace(ch1,temp)
   str=str.replace(ch2,ch1)
   str=str.replace(temp,ch2)
   return str
str=input()
ch1=input()
ch2=input()
output=replaceCharacter(str,ch1,ch2)
print(output)

tervpro
e
p
tprvero

Reverse a string



Words should come in reverse in a string,not letters

In [13]:
str=input()
words=str.split()
rev_words=words[::-1]
output=" ".join(rev_words)
print(output)

My name is priya
priya is name My

Rats Problem




The function accepts two positive integers ‘r’ and ‘unit’ and a positive
integer array ‘arr’ of size ‘n’ as its argument ‘r’ represents the number
of rats present in an area, ‘unit’ is the amount of food each rat
consumes and each ith element of array ‘arr’ represents the amount of
food present in ‘i+1’ house number, where 0 <= i.
Note:
1. Return -1 if the array is null
2. Return 0 if the total amount of food from all houses is not sufficient
for all the rats.
3. Computed values lie within the integer range.


Example:


Input:
r: 7
unit: 2
n: 8
arr: 2 8 3 5 7 4 1 2


Output:
4

In [14]:
def ratsFood(r,unit,n,arr):
  if n==0:
    return -1
  else:
    total_food=r*unit
    total_food_available=0
    house_count=0
    for food in arr:
      total_food_available+=food
      house_count+=1
      if total_food_available>=total_food:
        return house_count
r=int(input())
unit=int(input())
n=int(input())
arr=list(map(int,input().split()))
print(ratsFood(r,unit,n,arr))

7
2
8
2 8 3 5 7 4 1 2
4

Function to find and return
the number of elements of ‘arr’ having an absolute difference of less
than or equal to ‘diff’ with ‘num’

In [16]:
def findCount(arr,num,diff):
  count=0
  for i in arr:
    if abs(i-num)<=diff:
      count+=1
  return count
print(findCount([1,2,3,4,5],3,2))

5