<a href="https://colab.research.google.com/github/PSindhuLakshmiPriya/Python-daily-practice-codes/blob/main/Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Swapping in different ways

In [ ]:
num1=10
num2=20
num1,num2=num2,num1
print(num1,num2)

20 10

Using temp

In [ ]:
num1=60
num2=65
temp=num1
num1=num2
num2=temp
print(num1,num2)

65 60

To check whether a prime number or not

In [ ]:
num=int(input())
count=0
if num>1:
  for i in range(1,num+1):
    if num%i==0:
      count=count+1
  if count==2:
    print("Prime Number")
  else:
    print("Not a prime number")

28
Not a prime number

To find factorial of a number

In [ ]:
num=int(input())
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

4
24

Using Recursion

In [ ]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
num=5
print(factorial(num))

120

To find fibanocci series

In [ ]:
num=int(input())
a=0
b=1
print(a,end=" ")
print(b,end=" ")
for i in range(2,num):
  c=a+b
  print(c,end=" ")
  a=b
  b=c

3
0 1 1

To find sum of elements in an array

In [ ]:
arr=[1,2,3,4,5]
sum=0
for i in arr:
  sum=sum+i
print(sum)

15

Finding max and min elements in an array

In [ ]:
array=[1,2,3,4,5]
max_value=arr[0]
for i in array:
  if max_value<i:
    max_value=i
print(max_value)

5

In [ ]:
array2=[1,2,3,4,5]
min_value=arr[0]
for i in array2:
  if min_value>i:
    min_value=i
print(min_value)

1

Length of a list in different ways

In [ ]:
list=[1,2,3,4,5]
count=0
for i in list:
  count=count+1
print(count)

5

In [ ]:
print(len(list))

5

To swap first and last elements in a list

In [ ]:
list2=[24,56,78,54,32,96]
list2[0],list2[n-1]=list2[n-1],list2[0]
print(list2)

[96, 56, 78, 54, 32, 24]

Swap any two elements in a list

In [ ]:
list3=[2,8,3,7,4,6,5]
pos1=1
pos2=5
list3[pos1],list3[pos2]=list3[pos2],list3[pos1]
print(list3)

[2, 6, 3, 7, 4, 8, 5]

To remove Nth occurence of the given word

In [ ]:
list=["hello","my","name","is","priya","hello"]
seen=[]
for i in list:
  if i not in seen:
    seen.append(i)
print(seen)

['hello', 'my', 'name', 'is', 'priya']

In [ ]:
mylist=["hello","this","is","lakshmi","is"]
word="is"
n=2
count=0
for i in range(len(mylist)):
  if mylist[i]==word:
    count=count+1
    if count==n:
      del mylist[i]
print(mylist)

['hello', 'this', 'is', 'lakshmi']

To search for an element in a list

In [ ]:
list=[1,3,5,7,9]
searching_ele=7
for i in list:
  if i==searching_ele:
    print("Found")
  else:
    pass

Found

In [ ]:
list=[1,3,5,7,9]
searching_ele=7
flag=0
for i in list:
  if i==searching_ele:
    print("Found")
    flag+=1
    break
if flag==0:
  print("Not found")

Found

In [ ]:
list=[1,3,5,7,9]
searching_ele=7
if searching_ele in list:
  print("Found")
else:
  print("Not found")

Found

How to clear the list

In [ ]:
fruits=["apple","banana","cherry"]
del fruits

In [ ]:
things=["pen","book","bottle"]
things.clear()

In [ ]:
things2=["pen","book","bottle"]
things2=[]
print(things2)

[]

In [ ]:
list=[1,3,5,7,9]
del list[1:3]
print(list)

[1, 7, 9]

To reverse a list

In [1]:
list=["a","b","c","d"]
list.reverse()
print(list)

['d', 'c', 'b', 'a']

In [3]:
list=[2,4,6,8,10]
print(list[::-1])

[10, 8, 6, 4, 2]

To copy a list

In [4]:
list=[1,2,3,4]
list.copy()
print(list)

[1, 2, 3, 4]

In [7]:
print(list[0:])

[1, 2, 3, 4]

In [8]:
newlist=[]
newlist.extend(list)
print(newlist)

[1, 2, 3, 4]

Count occurences of an element in a list

In [9]:
mylist=[1,7,6,5,4,8,9,7]
x=7
count=0
for i in mylist:
  if i==x:
    count=count+1
print(count)

2

In [10]:
mylist=[1,8,6,8,4,8,9,7]
print(mylist.count(8))

3

Find sum of elements in a list(similar to array)

In [11]:
list=[10,20,30,40,50]
sum=0
for i in list:
  sum+=i
print(sum)

150

Multiply all numbers in a list

In [12]:
list=[2,4,3,2]
mul=1
for i in list:
  mul=mul*i
print(mul)

48

Finding smallest and largest numbers in a list

In [13]:
list=[6,7,1,3,5,2,4,9]
list.sort()
print("Smallest no",list[0])
print("Largest no",list[-1])

Smallest no 1
Largest no 9

In [14]:
print(min(list))
print(max(list))

1
9

Find 2nd largest number in a list

In [15]:
list=[100,96,23,12,45,87,65]
list.sort()
print(list[-2])

96

Check if string is palindrome or not

In [18]:
str=input()
if str==str[::-1]:
  print("Palindrome")
else:
  print("Not a palindrome")

madam
Palindrome

How to reverse words in a string

In [19]:
str=input()
words=str.split()
rev_words=words[::-1]
rev_str=" ".join(rev_words)
print(rev_str)

my name is priya
priya is name my

Substring presence in given string

In [20]:
str1=input()
str2=input()
if str2 in str1:
  print("Present")
else:
  print("Not present")

hello my name is sindhu
sindhu
Present

using find()

In [21]:
print(str1.find(str2))

17

How to find length of a string

In [22]:
str=input()
count=0
for i in str:
  count=count+1
print(count)

sindhu
6

In [23]:
str=input()
print(len(str))

priya
5

Check if a string contains any special character

In [27]:
import re
def special_characters(str):
  regex=re.compile('[@_!#$%^&*()<>?/\\|}{~:]')
  if regex.search(str)==None:
    return "No special characters"
  else:
    return "Contains special characters"
str=input()
print(special_characters(str))

happy@6
Contains special characters