<a href="https://colab.research.google.com/github/PSindhuLakshmiPriya/Python-daily-practice-codes/blob/main/Day_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sum of binary digits (count of 1's)

In [ ]:
num=int(input())
a=bin(num)[2:]
b=str(a)
count=0
for i in b:
    if i=='1':
        count+=1
print(count)

15
4

In [ ]:
num=int(input())
print(bin(num)[2::])

15
1111

Find the second smallest element in an array

In [ ]:
arr=sorted(set(map(int,input().split())))
print(arr[1])

2 5 7 3 4 9
3

Patterns

In [ ]:
n=5
for i in range(n):
  print("* "*n)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  print("* "*(i+1))

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  print("* "*(n-i))

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(str(j),end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(str(i),end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
for i in range(n):
  for j in range(i,-1,-1):
    print(j+1,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(n-i,end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(n-j,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
n=5
for i in range(n):
  for j in range(i,-1,-1):
    print(n-j,end=" ")
  print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

To print pattern for prime numbers

In [ ]:
def isprime(num):
  for i in range(2,num//2):
    if num%i==0:
      return False
  return num!=1
primes=[]
num=2
while len(primes)<10:
  if isprime(num):
    primes.append(num)
  num+=1
index=0
for i in range(5):
  for j in range(i):
    print(primes[index],end=" ")
    index+=1
  print()

2
3 4
5 7 11
13 17 19 23