<a href="https://colab.research.google.com/github/PSindhuLakshmiPriya/Python-daily-practice-codes/blob/main/Day_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def min_refueling_stops(X, N, fuel):
    # Sort the vehicles by their starting fuel in descending order
    fuel.sort(reverse=True)

    refueling_stops = 0
    leftover_fuel = 0

    for i in range(N):
        # Add leftover fuel from the previous vehicle
        fuel[i] += leftover_fuel

        if fuel[i] < X:
            # If the current vehicle doesn't have enough fuel, refuel it
            refueling_stops += 1
            # After refueling, the vehicle will have exactly X liters of fuel
            leftover_fuel = 0  # No leftover fuel, as it exactly consumed X liters
        else:
            # Calculate the leftover fuel after completing the journey
            leftover_fuel = fuel[i] - X

    return refueling_stops


X = 10
N = 5
fuel = [4, 8, 15, 3, 5]

print(min_refueling_stops(X, N, fuel))

3

Finding Nth term of fibanocci series

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)


if __name__ == "__main__":
    n = 10
    print(n, "th Fibonacci Number: ")
    print(fibonacci(n))

10 th Fibonacci Number:
55

In [ ]:
def fibbanocci(n):
  a=0
  b=1
  if n<0:
    print("Incorrect input")
  elif n==0:
    return a
  elif n==1:
    return b
  else:
    for i in range(2,n+1):
      c=a+b
      a=b
      b=c
    return b

print(fibbanocci(2))

1

Python Program for Replace All 0â€™s With 1 In A Given Integer

In [ ]:
num=int(input())
s=str(num)
result=""
for i in s:
  if i=='0':
    result+='1'
  else:
    result+=i
print(int(result))

101
111

To calculate the area of the circle

In [ ]:
radius=int(input())
area=3.14*radius*radius
print(area)

3
28.259999999999998

In [ ]:
from math import pi
radius=3.00
area=pi*radius*radius
print(area)

28.274333882308138

Check prime numbers between the range

In [ ]:
num = 2
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
    break
if flag == 1:
  print('Not Prime')
else:
  print("Prime")

Prime

In [ ]:
def checkprime(num):
  flag = 0
  for i in range(2,num):
    if num%i==0:
      flag = 1
      break
  if flag == 1:
    pass
  else:
    return True
a,b=1,100
for i in range(a,b+1):
  if checkprime(i):
    print(i,end=" ")

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Factorial using recursion

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

Checking perfect squares in an array

In [ ]:
import math
arr=[64,24,36,4,9,78,49]
perfect_squares=[]
for i in arr:
  if (math.sqrt(i))*(math.sqrt(i))==i:
    perfect_squares.append(i)
print(len(perfect_squares))
print(perfect_squares)

5
[64, 36, 4, 9, 49]

Printing no. of cards required at their respective levels

In [ ]:
num=int(input())
result=num*(3*num+1)/2
print(int(result))

1
2