<a href="https://colab.research.google.com/github/PSindhuLakshmiPriya/Python-daily-practice-codes/blob/main/Day_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Moving zero to the end of the list

In [ ]:
list=[1,3,0,4,5,6]
for item in list:
  if item==0:
    list.remove(item)
    list.append(item)
print(list)

[1, 3, 4, 5, 6, 0]

To print multiplication table

In [ ]:
n=int(input())
for i in range(1,11):
  print(str(n),"*",str(i),"=",str(n*i))

10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

To print calendar

In [ ]:
import calendar
year=int(input())
month=int(input())
mycal=calendar.month(year,month)
print(mycal)

2024
2
   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

To check leap year or not

In [ ]:
import calendar
year=int(input())
result=calendar.isleap(year)
if result==True:
  print("Leap year")
else:
  print("Not a leap year")

2024
Leap year

To convert celsius to fahrenheit

In [ ]:
celsius=float(input())
fahrenheit=(celsius*1.8)+32
print(fahrenheit)

32
89.6

To convert kilometer into mile

In [ ]:
km=float(input())
mile=km*0.621371
print("%.2f miles" %mile)

4
2.49 miles

guess the number

In [ ]:
mynum=6
while True:
  usernum=int(input())
  if mynum==usernum:
    print("You won")
    break
  else:
    print("Try again")

4
Try again
5
Try again
6
You won

To check eligibility for voting

In [ ]:
age=int(input())
if age>=18:
  print("Eligible")
else:
  print("Not Eligible")

65
Eligible

To check eligibility for marriage

In [ ]:
gender=input()
age=int(input())
if gender=="female" or "FEMALE":
  if age>=18:
    print("Eligible for marriage")
  else:
    print("Not eligible for marriage")
elif gender=="male" or "MALE":
  if age>=21:
    print("Eligible for marriage")
  else:
    print("Not eligible for marriage")
else:
  print("I don't know the limit")

female
35
Eligible for marriage

Pyramid pattern

In [6]:
n=5
for i in range(1,n):
  num=1
  for j in range(1,i+1):
    print(num,end=" ")
    num+=1
  print()

1
1 2
1 2 3
1 2 3 4

Prime number

In [7]:
n=int(input())
for i in range(2,n//2):
  if n%i==0:
    print("Not prime")
    break
else:
  print("Prime")

5
Prime

To check in a range

In [8]:
def checkPrime(num):
  if num<=1:
    return False
  for i in range(2,num//2):
    if num%i==0:
      return False
  return True
a=int(input())
b=int(input())
for i in range(a,b+1):
  if checkPrime(i):
    print(i,end=" ")

3
20
3 4 5 7 11 13 17 19

Palindrome

In [10]:
str=input()
if str==str[::-1]:
  print("Palindrome")
else:
  print("Not a palindrome")

noon
Palindrome

In [13]:
num=int(input())
temp=num
rev=0
while num>0:
  dig=num%10
  rev=rev*10+dig
  num=num//10
if temp==rev:
  print("Palindrome")
else:
  print("Not a palindrome")

1221
Palindrome