<a href="https://colab.research.google.com/github/PSindhuLakshmiPriya/Python-daily-practice-codes/blob/main/Day_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

find out common letters between two strings

In [ ]:
str1=input()
str2=input()
for i in range(len(str1)):
    for j in range(len(str2)):
        if str1[i]==str2[j]:
            print(str1[i],end="")
            break
        else:
            continue

reena
naina
na

In [ ]:
def common_letters():
  str1=input()
  str2=input()
  s1=set(str1)
  s2=set(str2)
  lst=s1&s2
  for i in lst:
    print(i,end="")
common_letters()

surya
priya
rya

Frequency of words appearing in string

In [ ]:
str=input()
lst=str.split()
count=0
for i in lst:
  count=count+1
  print(i,count)

hello this is priya
hello 1
this 2
is 3
priya 4

Coverting list into dictionary

In [ ]:
keys=[1,2,3,4]
values=["a","b","c","d"]
result=dict(zip(keys,values))
print(result)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

Converting dictionary to tuple

In [ ]:
dict={1:"a",2:"b",3:"c",4:"d"}
result=tuple(dict.items())
print(result)

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'))

Array and target

In [1]:
arr=list(map(int,input().split()))
target=int(input())
for i in range(len(arr)):
  for j in range(i+1,len(arr)):
    if arr[i]+arr[j]==target:
      print(i,j)

2 4 3 6 7 8
13
3 4